<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_finger0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,182}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{196,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tutorial_finger1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{190,184}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{190,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial-large.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20ccc86d2a05506a0cf163879e72262:f4ebf7931ea9ad62e352c82c7b4b8cc4:52818a2f8775cefd73643d17665d62f8$</string>
            <key>textureFileName</key>
            <string>tutorial-large.pvr.ccz</string>
        </dict>
    </dict>
</plist>
