<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{221,201}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,201}}</string>
                <key>sourceSize</key>
                <string>{223,201}</string>
            </dict>
            <key>bear1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{221,201}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{221,201}}</string>
                <key>sourceSize</key>
                <string>{223,203}</string>
            </dict>
            <key>bear1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,199},{220,201}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{220,201}}</string>
                <key>sourceSize</key>
                <string>{224,201}</string>
            </dict>
            <key>cat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1010},{205,211}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{205,211}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>cat1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,800},{207,205}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{207,205}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>cat1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{207,214}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,214}}</string>
                <key>sourceSize</key>
                <string>{209,214}</string>
            </dict>
            <key>cat1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,794},{207,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>cat1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1207},{204,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,209}}</string>
                <key>sourceSize</key>
                <string>{206,209}</string>
            </dict>
            <key>cat1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1005},{206,202}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{206,202}}</string>
                <key>sourceSize</key>
                <string>{210,206}</string>
            </dict>
            <key>cat1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,799},{208,209}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{208,209}}</string>
                <key>sourceSize</key>
                <string>{210,213}</string>
            </dict>
            <key>cow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,200},{215,201}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,201}}</string>
                <key>sourceSize</key>
                <string>{217,201}</string>
            </dict>
            <key>cow1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,205},{215,201}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,201}}</string>
                <key>sourceSize</key>
                <string>{217,201}</string>
            </dict>
            <key>dog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{227,195}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{227,195}}</string>
                <key>sourceSize</key>
                <string>{227,197}</string>
            </dict>
            <key>dog1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1224},{197,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,215}}</string>
                <key>sourceSize</key>
                <string>{197,215}</string>
            </dict>
            <key>dog1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1424},{195,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,216}}</string>
                <key>sourceSize</key>
                <string>{197,216}</string>
            </dict>
            <key>dog1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1424},{196,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,216}}</string>
                <key>sourceSize</key>
                <string>{198,216}</string>
            </dict>
            <key>dog1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1223},{203,219}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,219}}</string>
                <key>sourceSize</key>
                <string>{205,219}</string>
            </dict>
            <key>dog1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,403},{214,194}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,194}}</string>
                <key>sourceSize</key>
                <string>{214,196}</string>
            </dict>
            <key>dog1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{214,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,196}}</string>
                <key>sourceSize</key>
                <string>{214,196}</string>
            </dict>
            <key>dog1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,408},{213,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,195}}</string>
                <key>sourceSize</key>
                <string>{215,195}</string>
            </dict>
            <key>dog1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,402},{214,200}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,200}}</string>
                <key>sourceSize</key>
                <string>{216,202}</string>
            </dict>
            <key>dog1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,604},{211,193}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{211,193}}</string>
                <key>sourceSize</key>
                <string>{211,195}</string>
            </dict>
            <key>dog1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{211,193}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{211,193}}</string>
                <key>sourceSize</key>
                <string>{211,195}</string>
            </dict>
            <key>dog2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{217,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,204}}</string>
                <key>sourceSize</key>
                <string>{219,204}</string>
            </dict>
            <key>dog2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1639},{196,219}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,219}}</string>
                <key>sourceSize</key>
                <string>{198,219}</string>
            </dict>
            <key>dog2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1639},{196,219}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,219}}</string>
                <key>sourceSize</key>
                <string>{198,219}</string>
            </dict>
            <key>dog2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{216,196}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{216,196}}</string>
                <key>sourceSize</key>
                <string>{222,206}</string>
            </dict>
            <key>dog2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{201,219}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,219}}</string>
                <key>sourceSize</key>
                <string>{203,219}</string>
            </dict>
            <key>dog3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1441},{196,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{196,211}}</string>
                <key>sourceSize</key>
                <string>{196,213}</string>
            </dict>
            <key>dog3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,599},{209,193}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{209,193}}</string>
                <key>sourceSize</key>
                <string>{211,195}</string>
            </dict>
            <key>dog3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,605},{209,193}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{209,193}}</string>
                <key>sourceSize</key>
                <string>{211,195}</string>
            </dict>
            <key>dog3_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1654},{192,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,216}}</string>
                <key>sourceSize</key>
                <string>{194,216}</string>
            </dict>
            <key>dog3_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1654},{192,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,216}}</string>
                <key>sourceSize</key>
                <string>{194,216}</string>
            </dict>
            <key>pig1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,185}}</string>
                <key>sourceSize</key>
                <string>{232,185}</string>
            </dict>
            <key>wolf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1209},{201,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,213}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>wolf1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1007},{205,215}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{205,215}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_pet_2.pvr.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e289b4baa4d4c3abd3497f46ebe684af:512631f02b92f71f50b26e025a073815:bb4b5a3e59f95c3ca751fd8829f45816$</string>
            <key>textureFileName</key>
            <string>gacha_pet_2.pvr.png</string>
        </dict>
    </dict>
</plist>
