<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1242},{220,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,238}}</string>
                <key>sourceSize</key>
                <string>{222,238}</string>
            </dict>
            <key>bear1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1008},{222,242}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{222,242}}</string>
                <key>sourceSize</key>
                <string>{224,246}</string>
            </dict>
            <key>bear1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1720},{233,228}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,228}}</string>
                <key>sourceSize</key>
                <string>{235,230}</string>
            </dict>
            <key>bull1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1819},{257,225}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{257,225}}</string>
                <key>sourceSize</key>
                <string>{261,227}</string>
            </dict>
            <key>bull1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1252},{257,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,241}}</string>
                <key>sourceSize</key>
                <string>{261,241}</string>
            </dict>
            <key>bull1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,765},{257,245}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{257,245}}</string>
                <key>sourceSize</key>
                <string>{261,245}</string>
            </dict>
            <key>bull1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,467},{257,225}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{257,225}}</string>
                <key>sourceSize</key>
                <string>{261,227}</string>
            </dict>
            <key>bull1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,235},{257,230}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{257,230}}</string>
                <key>sourceSize</key>
                <string>{261,232}</string>
            </dict>
            <key>bull1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{257,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,227}}</string>
                <key>sourceSize</key>
                <string>{261,227}</string>
            </dict>
            <key>bull1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,485},{258,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{258,232}}</string>
                <key>sourceSize</key>
                <string>{262,232}</string>
            </dict>
            <key>cat1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1215},{235,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,222}}</string>
                <key>sourceSize</key>
                <string>{237,222}</string>
            </dict>
            <key>cat1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1746},{225,238}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{225,238}}</string>
                <key>sourceSize</key>
                <string>{229,240}</string>
            </dict>
            <key>cat1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1495},{225,238}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{225,238}}</string>
                <key>sourceSize</key>
                <string>{229,240}</string>
            </dict>
            <key>cat1_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1242},{234,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,236}}</string>
                <key>sourceSize</key>
                <string>{234,236}</string>
            </dict>
            <key>cat1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,515},{213,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,248}}</string>
                <key>sourceSize</key>
                <string>{215,248}</string>
            </dict>
            <key>deer1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{218,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,243}}</string>
                <key>sourceSize</key>
                <string>{218,243}</string>
            </dict>
            <key>deer1_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,2},{228,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,239}}</string>
                <key>sourceSize</key>
                <string>{230,239}</string>
            </dict>
            <key>deer1_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2},{237,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,242}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>dog1_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1659},{238,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,217}}</string>
                <key>sourceSize</key>
                <string>{238,217}</string>
            </dict>
            <key>dog1_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,978},{238,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,235}}</string>
                <key>sourceSize</key>
                <string>{238,235}</string>
            </dict>
            <key>dog1_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,246},{238,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,240}}</string>
                <key>sourceSize</key>
                <string>{238,240}</string>
            </dict>
            <key>dragon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1012},{259,244}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{259,244}}</string>
                <key>sourceSize</key>
                <string>{259,246}</string>
            </dict>
            <key>dragon1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1565},{258,252}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{258,252}}</string>
                <key>sourceSize</key>
                <string>{270,254}</string>
            </dict>
            <key>dragon1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,269}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{258,269}}</string>
                <key>sourceSize</key>
                <string>{270,271}</string>
            </dict>
            <key>dragon1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1561},{261,249}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{261,249}}</string>
                <key>sourceSize</key>
                <string>{269,251}</string>
            </dict>
            <key>dragon1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{259,261}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{259,261}}</string>
                <key>sourceSize</key>
                <string>{269,263}</string>
            </dict>
            <key>dragon1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1000},{260,240}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{260,240}}</string>
                <key>sourceSize</key>
                <string>{270,242}</string>
            </dict>
            <key>dragon1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{260,255}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{260,255}}</string>
                <key>sourceSize</key>
                <string>{270,257}</string>
            </dict>
            <key>dragon1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{260,254}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{260,254}}</string>
                <key>sourceSize</key>
                <string>{270,256}</string>
            </dict>
            <key>dragon1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{260,266}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{260,266}}</string>
                <key>sourceSize</key>
                <string>{274,268}</string>
            </dict>
            <key>horse1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,965},{244,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,218}}</string>
                <key>sourceSize</key>
                <string>{246,218}</string>
            </dict>
            <key>horse1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,730},{245,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,233}}</string>
                <key>sourceSize</key>
                <string>{247,233}</string>
            </dict>
            <key>horse1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,512},{260,243}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{260,243}}</string>
                <key>sourceSize</key>
                <string>{264,243}</string>
            </dict>
            <key>horse1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,249},{260,243}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{260,243}}</string>
                <key>sourceSize</key>
                <string>{264,243}</string>
            </dict>
            <key>horse1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1439},{240,218}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,218}}</string>
                <key>sourceSize</key>
                <string>{242,220}</string>
            </dict>
            <key>horse1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,265},{240,245}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,245}}</string>
                <key>sourceSize</key>
                <string>{242,247}</string>
            </dict>
            <key>horse1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1735},{219,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,237}}</string>
                <key>sourceSize</key>
                <string>{221,237}</string>
            </dict>
            <key>horse1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1480},{241,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,222}}</string>
                <key>sourceSize</key>
                <string>{243,222}</string>
            </dict>
            <key>horse1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,494},{248,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,240}}</string>
                <key>sourceSize</key>
                <string>{250,240}</string>
            </dict>
            <key>horse1_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1720},{231,228}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{231,228}}</string>
                <key>sourceSize</key>
                <string>{233,230}</string>
            </dict>
            <key>horse1_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,762},{237,244}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{237,244}}</string>
                <key>sourceSize</key>
                <string>{239,246}</string>
            </dict>
            <key>horse1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1482},{255,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{255,236}}</string>
                <key>sourceSize</key>
                <string>{259,238}</string>
            </dict>
            <key>horse1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,515},{255,245}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{255,245}}</string>
                <key>sourceSize</key>
                <string>{259,245}</string>
            </dict>
            <key>horse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,243},{229,231}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>horse2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1001},{217,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,241}}</string>
                <key>sourceSize</key>
                <string>{219,241}</string>
            </dict>
            <key>horse2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,757},{217,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,241}}</string>
                <key>sourceSize</key>
                <string>{219,241}</string>
            </dict>
            <key>horse2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{238,245}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,245}}</string>
                <key>sourceSize</key>
                <string>{240,245}</string>
            </dict>
            <key>horse2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{229,240}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{229,240}}</string>
                <key>sourceSize</key>
                <string>{239,242}</string>
            </dict>
            <key>horse2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,736},{229,240}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{229,240}}</string>
                <key>sourceSize</key>
                <string>{239,242}</string>
            </dict>
            <key>horse2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1559},{226,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,249}}</string>
                <key>sourceSize</key>
                <string>{226,249}</string>
            </dict>
            <key>horse2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1308},{228,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,249}}</string>
                <key>sourceSize</key>
                <string>{228,249}</string>
            </dict>
            <key>horse2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,694},{251,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,228}}</string>
                <key>sourceSize</key>
                <string>{253,228}</string>
            </dict>
            <key>horse2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,244},{253,239}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{253,239}}</string>
                <key>sourceSize</key>
                <string>{255,241}</string>
            </dict>
            <key>horse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,488},{228,240}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{228,240}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>horse3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1502},{219,242}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{219,242}}</string>
                <key>sourceSize</key>
                <string>{227,252}</string>
            </dict>
            <key>horse3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1308},{238,251}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{238,251}}</string>
                <key>sourceSize</key>
                <string>{240,253}</string>
            </dict>
            <key>horse3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,2},{223,231}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{223,231}}</string>
                <key>sourceSize</key>
                <string>{231,233}</string>
            </dict>
            <key>horse3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1258},{223,242}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{223,242}}</string>
                <key>sourceSize</key>
                <string>{231,260}</string>
            </dict>
            <key>horse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,265},{248,248}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>horse4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{218,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{218,254}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>horse4_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{218,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,253}}</string>
                <key>sourceSize</key>
                <string>{220,253}</string>
            </dict>
            <key>horse4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1812},{240,234}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,234}}</string>
                <key>sourceSize</key>
                <string>{242,234}</string>
            </dict>
            <key>horse4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1054},{245,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,252}}</string>
                <key>sourceSize</key>
                <string>{247,252}</string>
            </dict>
            <key>wolf1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,757},{222,242}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{222,242}}</string>
                <key>sourceSize</key>
                <string>{224,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_pet_0.pvr.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e289b4baa4d4c3abd3497f46ebe684af:512631f02b92f71f50b26e025a073815:bb4b5a3e59f95c3ca751fd8829f45816$</string>
            <key>textureFileName</key>
            <string>gacha_pet_0.pvr.png</string>
        </dict>
    </dict>
</plist>
