<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bear1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1535},{220,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,202}}</string>
                <key>sourceSize</key>
                <string>{222,202}</string>
            </dict>
            <key>cat1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,422},{208,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,219}}</string>
                <key>sourceSize</key>
                <string>{210,219}</string>
            </dict>
            <key>cat1_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,936},{229,209}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{229,209}}</string>
                <key>sourceSize</key>
                <string>{231,211}</string>
            </dict>
            <key>cat1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,639},{207,218}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{207,218}}</string>
                <key>sourceSize</key>
                <string>{209,222}</string>
            </dict>
            <key>cow1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,890},{221,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,207}}</string>
                <key>sourceSize</key>
                <string>{223,207}</string>
            </dict>
            <key>cow1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,467},{221,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,216}}</string>
                <key>sourceSize</key>
                <string>{223,216}</string>
            </dict>
            <key>cow1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1362},{223,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,208}}</string>
                <key>sourceSize</key>
                <string>{225,208}</string>
            </dict>
            <key>cow1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1147},{223,213}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{223,213}}</string>
                <key>sourceSize</key>
                <string>{225,215}</string>
            </dict>
            <key>cow1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1689},{219,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,226}}</string>
                <key>sourceSize</key>
                <string>{221,226}</string>
            </dict>
            <key>deer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1110},{204,225}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{204,225}}</string>
                <key>sourceSize</key>
                <string>{218,227}</string>
            </dict>
            <key>deer1_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,652},{204,224}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,224}}</string>
                <key>sourceSize</key>
                <string>{204,226}</string>
            </dict>
            <key>deer1_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{202,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,252}}</string>
                <key>sourceSize</key>
                <string>{204,252}</string>
            </dict>
            <key>deer1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1110},{204,225}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{204,225}}</string>
                <key>sourceSize</key>
                <string>{218,227}</string>
            </dict>
            <key>deer1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{204,252}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{204,252}}</string>
                <key>sourceSize</key>
                <string>{218,252}</string>
            </dict>
            <key>deer1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1099},{201,225}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,225}}</string>
                <key>sourceSize</key>
                <string>{203,225}</string>
            </dict>
            <key>deer1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{201,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,242}}</string>
                <key>sourceSize</key>
                <string>{203,242}</string>
            </dict>
            <key>deer1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1326},{202,223}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,223}}</string>
                <key>sourceSize</key>
                <string>{204,225}</string>
            </dict>
            <key>deer1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{206,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,249}}</string>
                <key>sourceSize</key>
                <string>{206,249}</string>
            </dict>
            <key>deer1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,962},{205,240}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{205,240}}</string>
                <key>sourceSize</key>
                <string>{219,242}</string>
            </dict>
            <key>deer1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,256}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,256}}</string>
                <key>sourceSize</key>
                <string>{204,258}</string>
            </dict>
            <key>deer1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1337},{202,227}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,227}}</string>
                <key>sourceSize</key>
                <string>{204,229}</string>
            </dict>
            <key>deer1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{202,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,254}}</string>
                <key>sourceSize</key>
                <string>{204,254}</string>
            </dict>
            <key>deer1_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1788},{202,228}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,228}}</string>
                <key>sourceSize</key>
                <string>{204,230}</string>
            </dict>
            <key>deer1_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,224},{201,241}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{201,241}}</string>
                <key>sourceSize</key>
                <string>{203,243}</string>
            </dict>
            <key>deer1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1328},{202,224}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,224}}</string>
                <key>sourceSize</key>
                <string>{204,226}</string>
            </dict>
            <key>deer1_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1798},{202,232}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,232}}</string>
                <key>sourceSize</key>
                <string>{204,234}</string>
            </dict>
            <key>deer1_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{204,253}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{204,253}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>dog1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1362},{217,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,216}}</string>
                <key>sourceSize</key>
                <string>{219,216}</string>
            </dict>
            <key>dog1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1580},{217,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,216}}</string>
                <key>sourceSize</key>
                <string>{219,216}</string>
            </dict>
            <key>dog1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,433},{218,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{220,217}</string>
            </dict>
            <key>dog1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,859},{205,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,219}}</string>
                <key>sourceSize</key>
                <string>{205,219}</string>
            </dict>
            <key>dog1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1107},{209,219}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,219}}</string>
                <key>sourceSize</key>
                <string>{211,219}</string>
            </dict>
            <key>dog1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1572},{215,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{215,214}}</string>
                <key>sourceSize</key>
                <string>{215,216}</string>
            </dict>
            <key>dog1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1182},{216,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,222}}</string>
                <key>sourceSize</key>
                <string>{218,224}</string>
            </dict>
            <key>dog1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,477},{211,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,232}}</string>
                <key>sourceSize</key>
                <string>{211,232}</string>
            </dict>
            <key>dog1_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,1081},{207,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{207,217}}</string>
                <key>sourceSize</key>
                <string>{209,217}</string>
            </dict>
            <key>dog1_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,197},{208,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,217}}</string>
                <key>sourceSize</key>
                <string>{210,217}</string>
            </dict>
            <key>dog1_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1689},{218,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,228}}</string>
                <key>sourceSize</key>
                <string>{218,228}</string>
            </dict>
            <key>dog2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,468},{216,225}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{216,225}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
            <key>dog2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,1300},{192,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,233}}</string>
                <key>sourceSize</key>
                <string>{194,233}</string>
            </dict>
            <key>dog2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,1743},{192,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,233}}</string>
                <key>sourceSize</key>
                <string>{194,233}</string>
            </dict>
            <key>dog2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,643},{209,217}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{209,217}}</string>
                <key>sourceSize</key>
                <string>{229,221}</string>
            </dict>
            <key>dog2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,420},{209,217}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{209,217}}</string>
                <key>sourceSize</key>
                <string>{229,221}</string>
            </dict>
            <key>dog2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,862},{208,217}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{208,217}}</string>
                <key>sourceSize</key>
                <string>{208,219}</string>
            </dict>
            <key>dog3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,2},{234,193}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,193}}</string>
                <key>sourceSize</key>
                <string>{236,195}</string>
            </dict>
            <key>dog3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{234,216}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,216}}</string>
                <key>sourceSize</key>
                <string>{236,218}</string>
            </dict>
            <key>dog3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{237,201}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,201}}</string>
                <key>sourceSize</key>
                <string>{239,201}</string>
            </dict>
            <key>dog3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1240},{233,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,210}}</string>
                <key>sourceSize</key>
                <string>{235,210}</string>
            </dict>
            <key>dog3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,246},{221,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,220}}</string>
                <key>sourceSize</key>
                <string>{223,224}</string>
            </dict>
            <key>dog3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{221,220}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{221,220}}</string>
                <key>sourceSize</key>
                <string>{223,224}</string>
            </dict>
            <key>fox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{226,214}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{226,214}}</string>
                <key>sourceSize</key>
                <string>{228,218}</string>
            </dict>
            <key>fox1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,218},{224,213}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{224,213}}</string>
                <key>sourceSize</key>
                <string>{226,217}</string>
            </dict>
            <key>fox1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,256},{222,219}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{222,219}}</string>
                <key>sourceSize</key>
                <string>{238,221}</string>
            </dict>
            <key>fox1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,737},{223,219}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{223,219}}</string>
                <key>sourceSize</key>
                <string>{227,223}</string>
            </dict>
            <key>fox1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1463},{224,219}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{224,219}}</string>
                <key>sourceSize</key>
                <string>{228,223}</string>
            </dict>
            <key>fox1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,711},{218,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,223}}</string>
                <key>sourceSize</key>
                <string>{218,223}</string>
            </dict>
            <key>fox1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,737},{225,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,223}}</string>
                <key>sourceSize</key>
                <string>{225,223}</string>
            </dict>
            <key>horse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{227,221}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{227,221}}</string>
                <key>sourceSize</key>
                <string>{231,223}</string>
            </dict>
            <key>horse1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,958},{219,222}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{219,222}}</string>
                <key>sourceSize</key>
                <string>{221,224}</string>
            </dict>
            <key>horse2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,477},{212,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,232}}</string>
                <key>sourceSize</key>
                <string>{214,232}</string>
            </dict>
            <key>pig1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1554},{229,197}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,197}}</string>
                <key>sourceSize</key>
                <string>{231,197}</string>
            </dict>
            <key>pig1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,685},{229,203}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{229,203}}</string>
                <key>sourceSize</key>
                <string>{241,203}</string>
            </dict>
            <key>pig1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,901},{229,207}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{229,207}}</string>
                <key>sourceSize</key>
                <string>{241,207}</string>
            </dict>
            <key>pig1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1551},{234,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,190}}</string>
                <key>sourceSize</key>
                <string>{236,192}</string>
            </dict>
            <key>pig1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{234,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,194}}</string>
                <key>sourceSize</key>
                <string>{236,194}</string>
            </dict>
            <key>pig1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1452},{234,205}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,205}}</string>
                <key>sourceSize</key>
                <string>{236,207}</string>
            </dict>
            <key>sheep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1684},{236,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,204}}</string>
                <key>sourceSize</key>
                <string>{242,204}</string>
            </dict>
            <key>sheep1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,695},{234,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,204}}</string>
                <key>sourceSize</key>
                <string>{240,204}</string>
            </dict>
            <key>sheep1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,515},{232,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>sheep1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,256},{233,219}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{233,219}}</string>
                <key>sourceSize</key>
                <string>{239,219}</string>
            </dict>
            <key>sheep1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1753},{221,203}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,203}}</string>
                <key>sourceSize</key>
                <string>{223,203}</string>
            </dict>
            <key>sheep1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1798},{221,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,209}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>sheep1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1463},{223,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,224}}</string>
                <key>sourceSize</key>
                <string>{225,224}</string>
            </dict>
            <key>wolf1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,198},{207,220}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{207,220}}</string>
                <key>sourceSize</key>
                <string>{219,222}</string>
            </dict>
            <key>wolf1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,205},{220,215}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{220,215}}</string>
                <key>sourceSize</key>
                <string>{232,225}</string>
            </dict>
            <key>wolf1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1659},{220,215}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{220,215}}</string>
                <key>sourceSize</key>
                <string>{232,225}</string>
            </dict>
            <key>wolf1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,890},{213,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,215}}</string>
                <key>sourceSize</key>
                <string>{213,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gacha_pet_1.pvr.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e289b4baa4d4c3abd3497f46ebe684af:512631f02b92f71f50b26e025a073815:bb4b5a3e59f95c3ca751fd8829f45816$</string>
            <key>textureFileName</key>
            <string>gacha_pet_1.pvr.png</string>
        </dict>
    </dict>
</plist>
