<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_icon_animal_barn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_animal_barn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_animal_barn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_animal_barn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_animal_barn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_animal_barn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,212},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,314},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_bank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_bank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{101,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_bank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_food_maker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,416},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_food_maker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,518},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_food_maker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_food_maker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,108},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_food_maker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,620},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_food_maker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_garage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,722},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_garage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,824},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_garage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_garage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_garage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_habitat.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_item_barn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_item_barn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_item_barn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{101,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_item_barn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_library_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_library_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,210},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_library_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,312},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_library_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{101,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_library_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_market_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,414},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_market_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,516},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_market_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,618},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_market_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,618},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_market_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,618},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_market_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,618},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_silo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,720},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_silo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,822},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_silo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{101,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_silo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,312},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,312},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{101,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{101,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{101,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_ticket_booth_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{101,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{101,106}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_training_gym_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,312},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_training_gym_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,312},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_training_gym_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,104}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_training_gym_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,312},{101,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{101,100}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>_icon_training_gym_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,106},{101,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,102}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_building-xlarge.pvr.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abad828886b6807958d5233581f12fb5:bbd8f360c3f0c6cd84c2431cf2eb4276:dd218b0c4a5d23b171942d8b47ffba09$</string>
            <key>textureFileName</key>
            <string>icon_building-xlarge.pvr.png</string>
        </dict>
    </dict>
</plist>
