<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1440},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{360,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,270}}</string>
                <key>sourceSize</key>
                <string>{360,270}</string>
            </dict>
            <key>_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,810},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,630},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,360},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,90},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{720,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,630}}</string>
                <key>sourceSize</key>
                <string>{720,630}</string>
            </dict>
            <key>_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1351},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,720},{270,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,360}}</string>
                <key>sourceSize</key>
                <string>{270,360}</string>
            </dict>
            <key>_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,270},{270,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,450}}</string>
                <key>sourceSize</key>
                <string>{270,450}</string>
            </dict>
            <key>_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1170},{270,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,450}}</string>
                <key>sourceSize</key>
                <string>{270,450}</string>
            </dict>
            <key>_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1170},{90,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,270}}</string>
                <key>sourceSize</key>
                <string>{90,270}</string>
            </dict>
            <key>_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,270},{270,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,180}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{450,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,270}}</string>
                <key>sourceSize</key>
                <string>{450,270}</string>
            </dict>
            <key>_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{720,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,270}}</string>
                <key>sourceSize</key>
                <string>{720,270}</string>
            </dict>
            <key>_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1351},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1080},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1351},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,900},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1080},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,180},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,0},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1080},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,450},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,720},{270,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,180}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,90},{270,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,90}}</string>
                <key>sourceSize</key>
                <string>{270,90}</string>
            </dict>
            <key>_129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{270,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,90}}</string>
                <key>sourceSize</key>
                <string>{270,90}</string>
            </dict>
            <key>_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,630},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,720},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,900},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1080},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_134.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,720},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,900},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_136.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1080},{270,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,180}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>_137.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,540},{270,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,180}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>_138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_139.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,450},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>_140.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,270},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,270}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>_142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,990},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>_143.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_147.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_148.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,900},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>_149.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,180},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1170},{90,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,180}}</string>
                <key>sourceSize</key>
                <string>{90,180}</string>
            </dict>
            <key>_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1350},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1261},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1261},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1261},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1260},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1171},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1081},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,630},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tilemap.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d99952af12d06f28a5d64e73716649ff:d141f2efda8d6ef22231e65d6e17fc6d:63a6360c4370b8e08215c25110aa6762$</string>
            <key>textureFileName</key>
            <string>tilemap.png</string>
        </dict>
    </dict>
</plist>
