<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid_road_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,0},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>grid_road_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,96},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>tile_grass_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,192},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>tile_grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1918},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>tile_grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1918},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>tile_grass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1918},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>tile_grass_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,402},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,488},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_asphalt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_asphalt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,680},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_asphalt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_asphalt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,918},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_asphalt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,288},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_asphalt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{269,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,208}}</string>
                <key>sourceSize</key>
                <string>{269,208}</string>
            </dict>
            <key>track_asphalt_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,288},{192,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,145}}</string>
                <key>sourceSize</key>
                <string>{192,145}</string>
            </dict>
            <key>track_dirt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_dirt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,488},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_dirt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_dirt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,488},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_dirt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,688},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_dirt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1126},{269,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,208}}</string>
                <key>sourceSize</key>
                <string>{269,208}</string>
            </dict>
            <key>track_dirt_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,402},{192,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,145}}</string>
                <key>sourceSize</key>
                <string>{192,145}</string>
            </dict>
            <key>track_grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,288},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_grass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_grass_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1118},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_grass_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1318},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_grass_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1334},{269,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,208}}</string>
                <key>sourceSize</key>
                <string>{269,208}</string>
            </dict>
            <key>track_grass_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,402},{192,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,145}}</string>
                <key>sourceSize</key>
                <string>{192,145}</string>
            </dict>
            <key>track_hurdle_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,680},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_hurdle_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,210},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_sand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,0},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_sand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,210},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_sand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_sand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1518},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_sand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1718},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_sand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1542},{269,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,208}}</string>
                <key>sourceSize</key>
                <string>{269,208}</string>
            </dict>
            <key>track_sand_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,433},{192,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,145}}</string>
                <key>sourceSize</key>
                <string>{192,145}</string>
            </dict>
            <key>track_snow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_snow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,210},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>track_snow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{270,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,210}}</string>
                <key>sourceSize</key>
                <string>{270,210}</string>
            </dict>
            <key>track_snow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,888},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_snow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,288},{265,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,200}}</string>
                <key>sourceSize</key>
                <string>{265,200}</string>
            </dict>
            <key>track_snow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1750},{269,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,208}}</string>
                <key>sourceSize</key>
                <string>{269,208}</string>
            </dict>
            <key>track_snow_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,547},{192,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,145}}</string>
                <key>sourceSize</key>
                <string>{192,145}</string>
            </dict>
            <key>track_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,402},{256,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,192}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile-large0.pvr.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e18f017cf76003953a86e45868959f:e1aa434d217f61d1696884eb5dcdb717:3a90cd8efe1bccb88a30dd65762badf7$</string>
            <key>textureFileName</key>
            <string>tile-large0.pvr.png</string>
        </dict>
    </dict>
</plist>
