<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grid_road_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,0},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>grid_road_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,48},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>tile_grass_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,96},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>tile_grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,144},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>tile_grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,192},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>tile_grass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,470},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>tile_grass_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,532},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>track_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,205},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_asphalt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_asphalt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,205},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_asphalt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_asphalt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,105},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_asphalt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,105},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_asphalt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,459},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>track_asphalt_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,240},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>track_dirt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_dirt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,301},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_dirt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_dirt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,105},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_dirt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,105},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_dirt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,563},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>track_dirt_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,313},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>track_grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_grass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,301},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_grass_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_grass_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,105},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_grass_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,105},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_grass_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,667},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>track_grass_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,386},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>track_hurdle_high.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,305},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_hurdle_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,305},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_sand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_sand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,305},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_sand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_sand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,205},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_sand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,205},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_sand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,771},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>track_sand_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,397},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>track_snow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_snow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,305},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>track_snow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{135,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,105}}</string>
                <key>sourceSize</key>
                <string>{135,105}</string>
            </dict>
            <key>track_snow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,205},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_snow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,205},{133,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,100}}</string>
                <key>sourceSize</key>
                <string>{133,100}</string>
            </dict>
            <key>track_snow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,875},{135,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,104}}</string>
                <key>sourceSize</key>
                <string>{135,104}</string>
            </dict>
            <key>track_snow_glue.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,459},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>track_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,397},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile-medium0.pvr.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76e18f017cf76003953a86e45868959f:e1aa434d217f61d1696884eb5dcdb717:3a90cd8efe1bccb88a30dd65762badf7$</string>
            <key>textureFileName</key>
            <string>tile-medium0.pvr.png</string>
        </dict>
    </dict>
</plist>
