<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_icon_animal_barn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_animal_barn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_animal_barn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_animal_barn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_animal_barn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_animal_barn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_bank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_bank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,57},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_bank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,57},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_food_maker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_food_maker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_food_maker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_food_maker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_food_maker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_food_maker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_garage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,110},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_garage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_garage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_garage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_garage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_habitat.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_item_barn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,108},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_item_barn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,163},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_item_barn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_item_barn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_library_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,216},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_library_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,269},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_library_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,322},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_library_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_library_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_market_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,375},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_market_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,428},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_market_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,163},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_market_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,163},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_market_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,163},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_market_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,163},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_silo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,216},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_silo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,269},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_silo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_silo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,322},{51,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,375},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,428},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,161},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_ticket_booth_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_training_gym_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,214},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_training_gym_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,267},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_training_gym_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_training_gym_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,320},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>_icon_training_gym_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,373},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_building-large.pvr.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abad828886b6807958d5233581f12fb5:bbd8f360c3f0c6cd84c2431cf2eb4276:dd218b0c4a5d23b171942d8b47ffba09$</string>
            <key>textureFileName</key>
            <string>icon_building-large.pvr.png</string>
        </dict>
    </dict>
</plist>
