<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>single_9sprite_bar_white_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>single_9sprite_bar_white_frame_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{2,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,30}}</string>
                <key>sourceSize</key>
                <string>{2,30}</string>
            </dict>
            <key>single_9sprite_bar_yellow_loading_bar_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{11,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,30}}</string>
                <key>sourceSize</key>
                <string>{11,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_bar-large.png</string>
            <key>size</key>
            <string>{128,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e8f666d0cc8cfec92a48a9c38c47243:a6b0ef595b1aeb6ffd260f0b3393cceb:5415f0a2c135ff98f22e7f9098f8bd25$</string>
            <key>textureFileName</key>
            <string>loading_bar-large.png</string>
        </dict>
    </dict>
</plist>
