<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>_banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,624},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>_chest_touch_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>_effect_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,701},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>_effect_glow_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,882},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>_effect_shockwave.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,882},{169,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,138}}</string>
                <key>sourceSize</key>
                <string>{169,138}</string>
            </dict>
            <key>_grad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,354},{322,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,268}}</string>
                <key>sourceSize</key>
                <string>{322,268}</string>
            </dict>
            <key>_grad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{655,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,345}}</string>
                <key>sourceSize</key>
                <string>{655,345}</string>
            </dict>
            <key>_grad_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{954,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{954,350}}</string>
                <key>sourceSize</key>
                <string>{954,350}</string>
            </dict>
            <key>_icon_food_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1113},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>_icon_food_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,932},{221,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,221}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>_sfx_circular_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{185,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,131}}</string>
                <key>sourceSize</key>
                <string>{185,131}</string>
            </dict>
            <key>_sfx_circular_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,701},{150,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,113}}</string>
                <key>sourceSize</key>
                <string>{150,113}</string>
            </dict>
            <key>_upgradable_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,624},{65,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,88}}</string>
                <key>sourceSize</key>
                <string>{65,88}</string>
            </dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,816},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,914},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-map-large0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43f1caf1f9ef18cdc847403d6338dd82:bf4e1355d671222e49e084afa312e04c:05b917a91a6879eac22dd1f3c2c21032$</string>
            <key>textureFileName</key>
            <string>ui-map-large0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
