<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>_banana.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,315},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>_chest_touch_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>_effect_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,354},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>_effect_glow_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,445},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>_effect_shockwave.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,584},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>_grad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,179},{161,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,134}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>_grad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{327,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,173}}</string>
                <key>sourceSize</key>
                <string>{327,173}</string>
            </dict>
            <key>_grad_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,175}}</string>
                <key>sourceSize</key>
                <string>{477,175}</string>
            </dict>
            <key>_icon_food_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,562},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_icon_food_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,471},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>_sfx_circular_smoke_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>_sfx_circular_smoke_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,354},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>_upgradable_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,315},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,412},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,462},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-map-medium0.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43f1caf1f9ef18cdc847403d6338dd82:bf4e1355d671222e49e084afa312e04c:05b917a91a6879eac22dd1f3c2c21032$</string>
            <key>textureFileName</key>
            <string>ui-map-medium0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
