<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_icon_animal_barn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_animal_barn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_animal_barn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_animal_barn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_animal_barn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_animal_barn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_bank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_bank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_bank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_bank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_bank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_food_maker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_food_maker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,66},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_food_maker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_food_maker_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_food_maker_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_food_maker_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_garage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,128},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_garage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,128},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_garage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,128},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_garage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_garage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_habitat.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_item_barn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,190},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_item_barn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,190},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_item_barn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_item_barn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_library_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,190},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_library_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,190},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_library_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,250},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_library_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_library_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_market_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_market_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,250},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_market_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_market_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_market_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_market_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_silo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,374},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_silo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,436},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_silo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_silo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,252},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,252},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,252},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,314},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_ticket_booth_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_training_gym_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,376},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_training_gym_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,438},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_training_gym_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_training_gym_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,314},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>_icon_training_gym_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,376},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_building-medium.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abad828886b6807958d5233581f12fb5:bbd8f360c3f0c6cd84c2431cf2eb4276:dd218b0c4a5d23b171942d8b47ffba09$</string>
            <key>textureFileName</key>
            <string>icon_building-medium.pvr.ccz</string>
        </dict>
    </dict>
</plist>
