<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_building-medium.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_building-medium.pvr.png</string>
            <key>size</key>
            <string>{514,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892731b73917611dcf7fd294f7537491:054fda67b333308eec1ef94de90863e4:0c324f3c2819594c21a3193223ae321a$</string>
            <key>textureFileName</key>
            <string>icon_building-medium.pvr.png</string>
        </dict>
    </dict>
</plist>
