<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui-not-scalable-1-medium.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,160}</string>
                <key>spriteSize</key>
                <string>{1022,702}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{1022,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui-not-scalable-1-medium.pvr.png</string>
            <key>size</key>
            <string>{1024,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d58efc2e099e1391331e127dbff5150:95440bb33aa96f454f4f539b0d9983ff:de94fd67db0dba009c9b8aa6b3f4541b$</string>
            <key>textureFileName</key>
            <string>ui-not-scalable-1-medium.pvr.png</string>
        </dict>
    </dict>
</plist>
