<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Abilities/Inactive_abilities/powerup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,155},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>Abilities/powerup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,246},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>Abilities/stan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,551},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>Achievements/Claim_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,92},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>Achievements/Game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,368},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>Achievements/Google_play_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,370},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>Achievements/Star_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,521},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>Achievements/reward_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,122},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>Animal_stats/speed_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,265},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>Build/arrow_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{147,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,74}}</string>
                <key>sourceSize</key>
                <string>{147,74}</string>
            </dict>
            <key>Friends_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>Gacha/promotion_marker_gacha.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,157},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>HUD/change_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,453},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>HUD/counter_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{161,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,35}}</string>
                <key>sourceSize</key>
                <string>{161,35}</string>
            </dict>
            <key>HUD/gacha_animation/ui_gacha_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,146},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>HUD/gacha_animation/ui_gacha_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,137},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>HUD/gacha_animation/ui_gacha_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,158},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>HUD/gacha_animation/ui_gacha_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,271},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>HUD/ground_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,368},{71,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,58}}</string>
                <key>sourceSize</key>
                <string>{71,58}</string>
            </dict>
            <key>Inbox/claim_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{145,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,76}}</string>
                <key>sourceSize</key>
                <string>{145,76}</string>
            </dict>
            <key>Inbox/revenge_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{145,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,76}}</string>
                <key>sourceSize</key>
                <string>{145,76}</string>
            </dict>
            <key>Merchant/check_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,157},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Merchant/m_order_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,396},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Merchant/order_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,80},{145,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,64}</string>
            </dict>
            <key>N_S/Claim_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,92},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>N_S/Classes/A_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,405},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>N_S/Classes/B_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,428},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>N_S/Classes/C_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,448},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>N_S/Classes/D_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,478},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>N_S/Classes/E_class.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,444},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>N_S/Classes/ribbon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>N_S/blue_stroke_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,152},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>N_S/close_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,372},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>N_S/medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,453},{55,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,66}}</string>
                <key>sourceSize</key>
                <string>{55,66}</string>
            </dict>
            <key>N_S/reward_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,122},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>N_S/world_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Notifications/no_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>Notifications/yes_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>Pet_shop/_ui_habitat.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{155,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,133}}</string>
                <key>sourceSize</key>
                <string>{155,133}</string>
            </dict>
            <key>Possible_rewards/change_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,137},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>Possible_rewards/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,559},{61,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,107}}</string>
                <key>sourceSize</key>
                <string>{61,107}</string>
            </dict>
            <key>Purchase/coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,202},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>Purchase/coins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,39},{154,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,116}}</string>
                <key>sourceSize</key>
                <string>{154,116}</string>
            </dict>
            <key>Push_notification_alert/no_thanks_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>Push_notification_alert/notify_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{164,88}</string>
            </dict>
            <key>Ranking/Visit_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,80},{145,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,76}}</string>
                <key>sourceSize</key>
                <string>{145,76}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/construction_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,517},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/delete_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,262},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/gem_for_animation.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,501},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/info_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,283},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/ok_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,183},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/overview_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,266},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/pack_obejct.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/powerup_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,389},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/powerup_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,444},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/powerup_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,446},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/rotate_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,289},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/set_as_leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/start_reverse_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,299},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Trace_&amp;_buildings_options/upgrade_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,395},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Upgrade/+bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{63,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,29}}</string>
                <key>sourceSize</key>
                <string>{63,29}</string>
            </dict>
            <key>Upgrade/Food_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,561},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>Upgrade/icon_animal_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,446},{58,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Upgrade/icon_distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,501},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Upgrade/icon_trackpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,314},{64,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Upgrade/icon_tradable_animal.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,396},{58,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Upgrade/instant_buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{145,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,88}}</string>
                <key>sourceSize</key>
                <string>{145,88}</string>
            </dict>
            <key>Upgrade/tickets.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,389},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>Upgrade_and_trade_items_for_animal/buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,92},{145,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,89}}</string>
                <key>sourceSize</key>
                <string>{145,89}</string>
            </dict>
            <key>oldversion/_effect_coin_roll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,224},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,39}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>oldversion/_effect_coin_roll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,248},{42,35}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{42,35}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>oldversion/_effect_coin_roll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,316},{36,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{36,39}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>oldversion/_icon_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,180},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>oldversion/_icon_position2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,285},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>oldversion/_mini_button_close_vasili.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>oldversion/_winning_streak_bonus_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,337},{121,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,114}}</string>
                <key>sourceSize</key>
                <string>{121,114}</string>
            </dict>
            <key>oldversion/bag_roll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,242},{72,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,55}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,504},{56,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,55}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,506},{56,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{56,55}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,37},{72,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,504},{56,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{56,55}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,449},{58,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{58,55}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,96},{72,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>oldversion/bag_roll_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,183},{72,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>plus_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,501},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-not-scalable-1-medium.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f0c820a426de8ad08eb11a70e233b74:957683d942cc39e33520d27736cf9533:946f120070940d36dbad3e75d1c6fa4e$</string>
            <key>textureFileName</key>
            <string>ui-not-scalable-1-medium.pvr.ccz</string>
        </dict>
    </dict>
</plist>
