<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Scalable/Header.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,212},{135,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,77}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>Scalable/Progress_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,364},{184,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,26}}</string>
                <key>sourceSize</key>
                <string>{184,26}</string>
            </dict>
            <key>Scalable/Progress_bar_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,392},{179,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,20}}</string>
                <key>sourceSize</key>
                <string>{179,20}</string>
            </dict>
            <key>Scalable/Progress_bar_map_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,237},{191,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,32}}</string>
                <key>sourceSize</key>
                <string>{191,32}</string>
            </dict>
            <key>Scalable/add_pattern_green_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,141},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>Scalable/bar_green_tiled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{2,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,40}}</string>
                <key>sourceSize</key>
                <string>{2,40}</string>
            </dict>
            <key>Scalable/bar_white_bg_tiled.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,85},{1,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,48}}</string>
                <key>sourceSize</key>
                <string>{1,48}</string>
            </dict>
            <key>Scalable/bar_yellow_tiled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,44},{2,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,40}}</string>
                <key>sourceSize</key>
                <string>{2,40}</string>
            </dict>
            <key>Scalable/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,414},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>Scalable/bg_solid.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,414},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>Scalable/input_field.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,388},{66,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,42}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>Scalable/paper_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,271},{185,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,188}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Scalable/ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{480,108}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,108}}</string>
                <key>sourceSize</key>
                <string>{546,108}</string>
            </dict>
            <key>Scalable/ribbon_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,519},{480,108}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,108}}</string>
                <key>sourceSize</key>
                <string>{546,108}</string>
            </dict>
            <key>Scalable/screen_for_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,515}}</string>
                <key>sourceSize</key>
                <string>{550,515}</string>
            </dict>
            <key>Scalable/small_ribbon.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{353,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,81}}</string>
                <key>sourceSize</key>
                <string>{353,81}</string>
            </dict>
            <key>Scalable/tab_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,141},{209,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,94}}</string>
                <key>sourceSize</key>
                <string>{209,94}</string>
            </dict>
            <key>Scalable/tab_icanctive.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,85},{219,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,54}}</string>
                <key>sourceSize</key>
                <string>{219,54}</string>
            </dict>
            <key>Scalable/tiled_bg_build.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,86},{1,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,144}}</string>
                <key>sourceSize</key>
                <string>{1,144}</string>
            </dict>
            <key>oldversion/_bg_spotlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,266},{73,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,54}}</string>
                <key>sourceSize</key>
                <string>{73,54}</string>
            </dict>
            <key>oldversion/_effect_dash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,266},{45,49}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{45,49}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_effect_dash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,432},{59,53}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{59,53}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_effect_dash_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,414},{63,69}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{63,69}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_effect_dash_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,291},{69,71}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{69,71}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_effect_dash_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,112},{73,79}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{73,79}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_effect_dash_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,141},{1,1}}</string>
                <key>offset</key>
                <string>{-47,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_effect_dash_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,141},{1,1}}</string>
                <key>offset</key>
                <string>{-47,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{95,105}</string>
            </dict>
            <key>oldversion/_environment_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,193},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>oldversion/_ground_9sprite_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,85},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{127,125}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>oldversion/_mini_ground_arrow_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,143},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>oldversion/_popover_circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>oldversion/_popover_circle_2_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,112},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>oldversion/_spotlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,291},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-scalable-medium.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be857d27e337e78171ef9f445dbc208:40f03708bf1ad9a709360afc3d2d1915:39cb7cba96949571035a459d3db6d112$</string>
            <key>textureFileName</key>
            <string>ui-scalable-medium.png</string>
        </dict>
    </dict>
</plist>
